<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ALBUMS</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>ALBUMS</h1>

    <ul>
        <a href="/">splash page</a>
        <a href="/albums">albums</a>
    </ul>


    <div
            th:each="album : ${albumArray}"> <!--${albumArray} matches the attNr. name from GetMap/addAttr.-->
        <img th:src="@{${album.imageURL}}" alt="album cover">
        <li th:text="${album.title}"></li>
        <li th:text="${album.artist}"></li>
        <li th:text="${album.songCount}"> Songs on the album</li>
        <li th:text="${album.length}"> Seconds long</li>

        <form th:action="'/songs/' + ${album.id}" method="GET">
            <input type="submit" value="Add Tracks to Album">
        </form>

        <form th:action="'/albums/' + ${album.id} + '?_method=delete'" method="POST">
            <input type="submit" value="Delete Album">
        </form>
    </div>


</body>
</html>