<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SONGS</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<h1>SONGS</h1>

<ul>
    <a href="/">splash page</a>
    <a href="/albums">albums</a>
</ul>

<div
        th:each="album : ${albumArray}"> <!--${albumArray} matches the attNr. name from GetMap/addAttr.-->
    <img th:src="@{${album.imageURL}}" alt="album cover">
    <li th:text="${album.title}"></li>
    <li th:text="${album.artist}"></li>
    <li th:text="${album.songCount}"> Songs on the album</li>
    <li th:text="${album.length}"> Seconds long</li>

    <div th:each="song : ${album.songs}">
        <li th:text="${song.title}"></li>
        <li th:text="${song.length}"></li>
        <li th:text="${song.track}"></li>
        <form th:action="'/songs/' + ${song.id} + '/' + ${album.id} + '?_method=delete'" method="POST">
            <input type="submit" value="Delete Song">
        </form>
    </div>

    <form th:action="'/songs/' + ${album.id} + '?_method=save'" method="POST">
        <fieldset>
            <legend>Add a Song</legend>
            <label for="title">Title</label>
            <input type="text" name="title">
            <label for="length">length</label>
            <input type="text" name="length">
            <label for="track">Track #</label>
            <input type="text" name="track">
            <label for="songOf">length</label>
            <input type="text" hidden name="songOf">

            <input type="submit" value="ADD SONG TO ALBUM">
        </fieldset>
    </form>


</div>



</body>
</html>